h1 {
    color: red;
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: gray;
}
 button {
    background-color: darkgreen;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}